name: Build and Deploy to Prod

on:
  push:
    branches:
      - "master"
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: allfeat/faucet

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout App Code
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=sha,format=long
            type=raw,value=master

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  update-infrastructure-repo:
    needs: build-and-push
    runs-on: ubuntu-latest
    environment: 
      name: prod
    steps:
      - name: Checkout Infrastructure Repo
        uses: actions/checkout@v4
        with:
          repository: allfeat/infra-kube
          token: ${{ secrets.CI_INFRA_KUBE_PAT }}
          path: infrastructure
          ref: master

      - name: Install Kustomize
        uses: imranismail/setup-kustomize@v2

      - name: Update Image Tag in Prod Overlay
        env:
          NEW_IMAGE: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:sha-${{ github.sha }}
          OVERLAY_PATH: kubernetes/apps/faucet/overlays/prod
        run: |
          cd infrastructure/$OVERLAY_PATH
          echo "Updating image to: $NEW_IMAGE"
          kustomize edit set image IMAGE_PLACEHOLDER=$NEW_IMAGE

      - name: Commit and Push Changes
        run: |
          cd infrastructure
          git config user.name "CI Pipeline"
          git config user.email "ci@bot.com"
          
          if [[ -n $(git status -s) ]]; then
            git add .
            git commit -m "ci(prod): deploy version ${{ github.sha }} to faucet-prod"
            git push origin master
          else
            echo "No changes to commit"
          fi
